<section class="txt-center p-lr-15 p-tb-92">
    <h2 class="ltext-105 cl0 txt-center" style="text-align: center;margin: 10px;">
        About
    </h2>
</section>
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        My cousin and I embarked on a heartfelt entrepreneurial journey, birthing a small startup that celebrates the elegance of bows. Our creations range from exquisite hair bows that add a touch of flair to any hairstyle, to adorable bows specially crafted for our furry companions. With a shared passion for craftsmanship and creativity, our startup thrives on the idea of spreading joy through these meticulously handmade pieces. Our collection transcends boundaries, encompassing a myriad of bow-adorned treasures. From hair accessories that empower individuality to charming dog bows that bring smiles, our venture embodies the spirit of boundless creativity and a commitment to sharing the beauty of bows with the world.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Any questions? Let us know in store at Homes, Andhra Pradesh, India or call us on (+91) 999999999
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="../../../assets/img/Naini.jpg" alt="IMG" style="width: 300px; height: 300px; margin-top: 50px;">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>

                        <span class="stext-111 cl8">
                            - Steve Job's 
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="../../../assets/img/bimg1.jpg" alt="IMG" style="height: 250px; width:250px; margin-bottom: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	