<div class="section" *ngIf="userCartData.total > 0">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
    
        <div class="col-md-7">
          <!-- Billing Details -->
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Billing address</h3>
            </div>
            <div class="form-group">
              <input class="input" type="text" name="address" placeholder="Address" [(ngModel)]="address">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="city" placeholder="City" [(ngModel)]="city">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="state" placeholder="State" [(ngModel)]="state">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="zip-code" placeholder="ZIP Code" [(ngModel)]="pinCode">
            </div>
          </div>
          <!-- /Billing Details -->
    
          <!-- Shiping Details -->
          <!-- /Shiping Details -->
    
          <!-- Order notes -->
          <div class="order-notes">
            <input class="input" type="text" name="notes" placeholder="Order Notes" [(ngModel)]="orderNotes">
          </div>
          <!-- /Order notes -->
        </div>
    
        <!-- Order Details -->
        <div class="col-md-5 order-details">
          <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
          </div>
          <div class="order-summary">
            <div class="order-col">
              <div><strong>PRODUCT</strong></div>
              <div><strong>SubTotal</strong></div>
            </div>
            <div class="order-products">
              <div class="order-col" *ngFor="let c of userCartData.items;">
                <div>{{ c.inCart }}x{{ c.product ? c.product.name : 'Product Name Not Available' }}</div>
                <div>{{ (c.product ? (c.product.price * c.inCart) : 0) | currency:'INR' }}</div>
              </div>
            </div>
            <div class="order-col">
              <div>Shipping</div>
              <div><strong>FREE</strong></div>
            </div>
            <div class="order-col dropdown-divider">
              <div><strong>TOTAL</strong></div>
              <div><strong class="order-total">{{cartTotalAmount | currency:'INR'}}</strong></div>
            </div>
          </div>
          <div class="payment-method">
            <div class="input-radio">
              <input type="radio" name="payment" id="payment-1">
              <label for="payment-1">
                <span></span>
                Direct Bank Transfer
              </label>
              <div class="caption">
                <p>Add your Bank Details</p>
              </div>
            </div>
            <div class="input-radio">
              <input type="radio" name="payment" id="payment-3">
              <label for="payment-3">
                <span></span>
                UPI Payment
              </label>
              <div class="caption">
                <p>Use UPI apps for payment</p>
              </div>
            </div>
          </div>
          <div class="input-checkbox">
            <input type="checkbox" id="terms">
            <label for="terms">
              <span></span>
              I've read and accept the <a href="#">terms & conditions</a>
            </label>
          </div>
          <button type="submit" class="btn-outline-danger btn-sm my-2 btn-block" [disabled]="cartTotalAmount <= 0 " (click)="onCheckout()">Place order</button>
        </div>
        <!-- /Order Details -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="text-center my-5" *ngIf="userCartData.total <= 0">
    <h4>Your Cart Is Empty</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
</div>
